* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.header {
    background-image: url("./background.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
a {
    text-decoration: none;
    color: rgb(238, 238, 238);
    transition: 0.5s;

}
.logo:hover {
    color: rgb(248, 129, 152);
}
.header-main a:hover {
    color: rgb(0, 119, 255);
}
.header-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-evenly;
    height: 8vh;
    background-color: rgba(36, 155, 252, 0.445);
}
.logo {
    width: 50%;
}
.header-main {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.welcome {
    height: 80%;
    width: 100%;
    text-align: left;
    font-size: xx-large;
    margin: auto;
    padding-left:10% ;
    padding-top: ;
}
